.information {
  background-color: $second-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  & .container {
    @media screen and (max-width: 767.98px) {
      display: block;
    }

    @include mobile {
      flex-wrap: wrap;
    }

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    align-items: baseline;
  }
}

.container-adress {
  text-align: center;
  @include desktop {
    text-align: start;
  }
}

.footer__logo {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  color: $other-text-color;
  font-family: "Raleway", sans-serif;
  @include font(26px, 700, 1.19, 0.03em);
}

.informations-list__address {
  margin-top: 20px;
  color: $other-text-color;
  font-style: normal;

  @extend %link;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--accent:hover {
    color: $accent-text-color;
  }
  &--accent:focus {
    color: $accent-text-color;
  }
}

.informations-list__available:not(:first-child) {
  margin-top: 9px;
}

.informations-list__number {
  display: block;
  color: $others-text-color;
  font-style: normal;

  @extend %link;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--accent:hover {
    color: $accent-text-color;
  }

  &--accent:focus {
    color: $accent-text-color;
  }
}

.informations-list__mail {
  display: block;
  color: $others-text-color;
  font-style: normal;

  @extend %link;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--accent:hover {
    color: $accent-text-color;
  }
  &--accent:focus {
    color: $accent-text-color;
  }
}

.join {
  display: flex;
  margin-top: 20px;
  justify-content: center;

  @extend %list;

  &__icon {
    fill: currentColor;
  }
  &__title {
    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: $other-text-color;
  }
}

.join__list {
  display: flex;

  & + & {
    margin-left: 10px;
  }
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(44px, 44px);
  border-radius: 50%;
  background-color: $bcg-footer-icon;
  cursor: pointer;
  color: $background-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}

.mailinglist {
  @media screen and (max-width: 1199.98px) {
    display: block;
  }

  @media screen and (min-width: 768) and (max-width: 1199.98px) {
    margin-left: auto;
    margin-right: auto;
  }

  &__icon {
    margin-left: 10px;
  }

  &__title {
    @include font($font-size, 700, $line-height, $letter-spacing);
    align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $background-color;
  }
}

.informations-list {
  @extend %list;
}
