.menu {
  display: none;
  margin-left: 93px;
  @include tablet {
    display: flex;
    margin-left: 88px;
  }
}

.nav-list {
  display: none;
  margin-left: auto;
  @extend %list;
  @include tablet {
    display: flex;
    margin-left: auto;
  }
  @include desktop {
    display: flex;
  }
}

.nav-list--change {
  @include tablet {
    flex-direction: column;
    // padding-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }

  @include desktop {
    flex-direction: row;
  }
}

.header {
  border-bottom: 1px solid $border-bottom-color;
}

.logo {
  // position: relative;
  color: $accent-text-color;
}

.logo__text {
  color: $accent-text-color;
}

.logo__link {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  height: 100%;
  color: $second-text-color;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  @include font(24px, 700, 1.16, 0.03em);

  @extend %link;

  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.nav-list__item {
  display: none;
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
  @include tablet {
    display: flex;
  }
}

.nav-list__item--margin {
  @include tablet {
    margin-right: 0;
  }
}

.nav-list__item--size {
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
  }
}

.nav-list__item--bottom {
  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin: 0;
  }
}

.nav-list__link {
  align-items: center;
  display: flex;
  color: $second-text-color;
  @include font(null, 500, 1.14, null);

  @extend %link;

  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  &::after {
    content: "";
    position: absolute;
    @include size(100%, 4px);
    background-color: $accent-text-color;
    bottom: -1px;
    left: 0;
    opacity: 0;
    border-radius: 2px;
  }
  &.current::after {
    opacity: 1;
  }
}

.nav-list__item--size {
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
  }
  @include desktop {
    font-size: 14px;
  }
}

.nav-list__link--margin {
  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-list__link--color {
  color: $primary-text-color;
}

.nav-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: $accent-text-color;
}

.open-menu {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  @include tablet {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: $background-color;
  width: 100%;
  height: 100vh;

  padding-left: 40px;
  padding-bottom: 48px;
  @include tablet {
    display: none;
  }
}

.menu-closed {
  margin-top: 10px;
  background-color: transparent;
  border: 0;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.menu-closed:hover .menu-closed_sign,
.menu-closed:focus .menu-closed_sign {
  fill: $accent-text-color;
}

.open-menu:hover .open-menu__sign,
.open-menu:focus .open-menu__sign {
  fill: $accent-text-color;
}

.menu-top__link {
  @extend %link;
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
  display: block;
  @include font(32px, 500, 1.17, 0.02em);
  color: $second-text-color;
  @include mobile {
    font-size: 40px;
  }
}

.menu-top__list {
  @extend %list;
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-contact__item,
.menu-social__item {
  @extend %list;
}

.menu-contact__item {
  &:first-child {
    margin-bottom: 32px;
  }
}

.menu-contact__item {
  &:last-child {
    margin-bottom: 44px;
  }
}

.menu-contact__tel,
.menu-contact__mail {
  @extend %link;
  display: block;
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
  color: $placeholder-color;
}

.menu-contact__tel {
  @include font(24px, 500, 1.18, 0.02em);
  @include mobile {
    width: 480px;
    font-size: 34px;
  }
}

.menu-contact__mail {
  @include font(16px, 500, 1.16, 0.02em);
  @include mobile {
    width: 480px;
    font-size: 24px;
  }
}

.menu-social {
  display: flex;
}

.menu-social__link {
  @include font(12px, 500, 1.22, 0.01em);
  color: $accent-text-color;
  @include mobile {
    width: 480px;
    font-size: 18px;
  }
}

.menu-social__item {
  &:not(:last-child) {
    border-right: 1px solid $decorate-mobile-menu;
    padding-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}
