.clients {
  margin: 0 auto;
}

.companies-logo {
  display: flex;
  flex-wrap: wrap;

  @extend %list;

  &__icon {
    @include size(106px, 60px);
    fill: currentColor;
  }
}

.companies-logo__list {
  display: flex;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.companies-logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(170px, 92px);
  border: 1px solid $color-svg;
  cursor: pointer;
  color: $color-svg;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-text-color;
    color: $accent-text-color;
  }
}
