.product {
  padding-top: 0;

  &-device {
    display: flex;
    @extend %list;
  }
}

.device {
  position: relative;

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font($font-size, $font-weight, $line-height, $letter-spacing);
    text-transform: uppercase;
    background-color: $bcg-product-device;
    width: 100%;
    height: 70px;
    color: $background-color;
  }
}

.product__pic {
  display: block;
  justify-content: space-around;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
