.benefits__list {
  // display: flex;
  @extend %list;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits__item {
  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @include desktop {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    // flex-wrap: nowrap;
    // .benefits__item:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
}

.benefits-card {
  display: flex;
  max-width: 450px;
  height: 120px;
  background-color: $third-background-color;
  align-items: center;
  justify-content: center;

  @include mobile {
    max-width: 450px;
  }

  @include tablet {
    max-width: 354px;
  }

  @include desktop {
    max-width: 270px;
  }

  &__company {
    padding-top: 30px;
    margin-bottom: 10px;
    color: $second-text-color;

    @include font($font-size, null, $line-height, $letter-spacing);
    text-transform: uppercase;
    @media screen and (max-width: 767.98px) {
      text-align: center;
    }
  }

  &__description {
    max-width: 100%;
    color: $primary-text-color;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

// .benefits__item:not(:last-child) {
//   margin-bottom: 30px;
//   margin-right: 30px;
// }
