.mailinglist__btn {
  @include size(358px, 50px);
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-text-color;
  }

  &::placeholder {
    @include font(16px, null, 1.25, $letter-spacing);
    color: rgba(255, 255, 255, 0.6);
  }
}
