.container {
  width: 100%;
  // padding-left: 15px;
  // padding-right: 15px;
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  overflow: auto;
  height: 100%;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;

  // &--display {
  //   display: flex;
  //   align-items: center;
  // }
}
