.primary__btn {
  @include font(16px, null, 1.88, 0.06em);
  display: block;
  margin: 0 auto;
  background-color: $accent-text-color;
  color: $other-text-color;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $modal-color;
  }

  &--correct {
    margin-top: 10px;
    @include size(null, 50px);
    display: inline-flex;
    align-items: center;
    text-align: center;
  }
}
