$background-color: rgba(255, 255, 255, 1);
$second-background-color: rgba(47, 48, 58, 1);
$primary-text-color: rgba(117, 117, 117, 1);
$second-text-color: rgba(33, 33, 33, 1);
$others-text-color: rgba(255, 255, 255, 0.6);
$other-text-color: rgba(255, 255, 255, 1);
$accent-text-color: rgba(33, 150, 243, 1);
$third-background-color: rgba(245, 244, 250, 1);
$color-svg: rgba(175, 177, 184, 1);
$bcg-footer-icon: rgba(255, 255, 255, 0.1);
$modal-color: rgba(24, 140, 232, 1);
$backgrop-bcg-color: rgba(0, 0, 0, 0.2);
$border-bottom-color: rgba(236, 236, 236, 1);
$border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$bcg-product-device: rgba(47, 48, 58, 0.8);
$padding-top: 94px;
$padding-bottom: 94px;
$margin-right: 30px;

$font-size: 14px;
$font-weight: 700px;
$line-height: 1.14;
$letter-spacing: 0.03em;
